/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <27>;

    // 21 backlight + 6 glowlight
};

/ {
    combos {
        compatible = "zmk,combos";

        korean {
            bindings = <&kp LS(SPACE)>;
            key-positions = <15 16>;
        };

        exit {
            bindings = <&kp LA(F4)>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <37 36>;
        };

        ye {
            bindings = <&kp LS(P)>;
            key-positions = <9 10>;
        };

        kp_B {
            bindings = <&kp B>;
            key-positions = <30 31>;
        };

        Ftwo {
            bindings = <&kp F2>;
            key-positions = <2 3>;
        };

        celar {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <0 24 12>;
        };

        ctrl-c {
            bindings = <&kp LC(C)>;
            key-positions = <26 27>;
        };

        ctrl-x {
            bindings = <&kp LC(X)>;
            key-positions = <26 25>;
        };

        ctrl-v {
            bindings = <&kp LC(V)>;
            key-positions = <28 27>;
        };

        ctrl_A {
            bindings = <&kp LC(A)>;
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC         &kp Q  &kp W  &kp E      &kp R   &kp T        &kp Y  &kp U  &kp I          &kp O    &kp P     &kp BSPC
&kp LCTRL       &kp A  &kp S  &kp D      &kp F   &kp G        &kp H  &kp J  &kp K          &kp L    &kp SEMI  &kp ENTER
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C      &kp V   &kp B        &kp N  &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp MINUS  &tog 1  &kp SPACE    &mo 1  &mo 2  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TILDE  &kp N1  &kp N2  &kp N3    &kp N4  &kp N5    &kp N6    &kp N7         &kp N8       &kp N9     &kp N0          &kp BSPC
&trans     &trans  &trans  &trans    &trans  &trans    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &kp APOSTROPHE  &trans
&trans     &trans  &trans  &trans    &trans  &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans          &trans
                           &kp PLUS  &trans  &trans    &trans    &trans         &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&soft_off        &kp F1           &kp F2           &kp F3           &kp F4           &kp F5          &kp F6     &kp F7  &kp F8  &kp F9            &kp F10            &kp BSPC
&bt BT_CLR       &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4    &trans     &trans  &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &trans          &trans     &trans  &trans  &trans            &trans             &trans
                                                   &kp LGUI         &trans           &kp SPACE       &kp SPACE  &trans  &trans
            >;
        };
    };
};
